@page
@using Models;
@model WebApp.Pages.AddCommentModel
@{
    ViewData["Title"] = "Add comment";
    GenericMessage parentMessage = (GenericMessage)ViewData["parent"];
}

<h1>@ViewData["Title"]</h1>

<h2>Responding to:</h2>
<div class="card" style="display:inline-flex; width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">
            @parentMessage.Title
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">@parentMessage.Author.Name</h6>
        <p class="card-text">@parentMessage.Description.PadRight(100).Substring(0,100).Trim()</p>
    </div>
</div>

<form method="post">
    <div class="mb-3">
        <label asp-for="Comment.Title" class="form-label">Title: </label>
        <input asp-for="Comment.Title" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Comment.Description" class="form-label">Description: </label>
        <textarea asp-for="Comment.Description" class="form-control" rows="5"></textarea>
    </div>
    <input type="hidden" asp-for="Type" />
    <input type="hidden" asp-for="ParentId" />
    <input type="hidden" asp-for="PreviousPage" />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>