@page
@model WebApp.Pages.ChangePasswordModel
@{
}
@if (ViewData["confirm"] != null)
{
    <div class="alert alert-primary" role="alert">
        @ViewData["confirm"]
    </div>
}

<form method="post">
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Old password: </label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="form-text" />
    </div>
    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label">New password: </label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="form-text" />
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label">Confirm password: </label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="form-text" />
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>