@page
@model WebApp.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

@if (ViewData["confirm"] != null)
{
    <div class="alert alert-primary" role="alert">
        @ViewData["confirm"]
    </div>
}

<form method="post">
    <div class="mb-3">
        <label asp-for="Contact.Name" class="form-label">Name: </label>
        <input asp-for="Contact.Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Contact.Email" class="form-label">Email</label>
        <input asp-for="Contact.Email" class="form-control" />
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>
