@page
@using Models;
@model WebApp.Pages.CreateComplaintModel
@{
    ViewData["Title"] = "Create complaint";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="Complaint.Title" class="form-label">Title: </label>
        <input asp-for="Complaint.Title" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Complaint.Severity" class="form-label">Severity: </label>
        <select asp-for="Complaint.Severity" asp-items="Html.GetEnumSelectList<ComplaintSeverity>()" />
    </div>
    <div class="mb-3">
        <label asp-for="Complaint.Description" class="form-label">Description: </label>
        <textarea asp-for="Complaint.Description" class="form-control" rows="5"></textarea>
    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
</form>