@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Student House Dashboard</h1>
    <p>The communication solution for shared accomodation.</p>

    <div class="px-4 py-5 my-5 text-center">
        <h2 class="display-5 fw-bold">Why choose our solution?</h2>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Student House Dashboard helps tenants organise common household chores even if they don't know each other very well.</p>
        </div>
    </div>

    <div class="px-4 py-5 my-5 text-center">
        <h2 class="display-5 fw-bold">Why choose our solution?</h2>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Student House Dashboard helps tenants organise common household chores even if they don't know each other very well.</p>
        </div>
    </div>

    <div class="px-4 py-5 my-5 text-center">
        <h2 class="display-5 fw-bold">Is it difficult to use?</h2>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Student House Dashboard is focused on providing a simple and powerful system for its users which helps them get on with their day without any worries.</p>
        </div>
    </div>
</div>