@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Collected personal data</h2>
<li>
    <ul>Password (hashed and salted)</ul>
    <ul>User-generated content (posts)</ul>
</li>
