@page
@model WebApp.Pages.Error._401Model
@{
    ViewData["Title"] = "401 Unauthorised";
}
<div class="text-center">
    <h1 class="display-4">Error 401 Unauthorised</h1>
    <img src="http://http.cat/401" />
    <p>
        You do not have rights to access this page!
    </p>
</div>