@page
@model WebApp.Pages.Error.UnexpectedModel
@{
    ViewData["Title"] = "Unexpected error";
}
<div class="text-center">
    <h1 class="display-4">Uh oh! An unexpected error has occured.</h1>
    <img src="https://images.pexels.com/photos/96938/pexels-photo-96938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <p>
        Contact your system admistrator if this cat appears too often on your screen.
    </p>
</div>
<p>Photo: <a href="https://pexels.com">pexels.com</a></p>