@page
@model WebApplication1.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>E-mail: <a href="mailto:d.byalkov@student.fontys.nl">d.byalkov@student.fontys.nl</a>.</p>
